h2 {
    margin-top: 70px;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    padding: 5px;
    stroke: black;
    shape-rendering: crispEdges;
}

#map path {
    fill: lightgray;
    stroke: white;
    stroke-width: 2;
}