body {
    color: white;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin-top: 70px;
    text-align: center;
}

.offset {
    margin-top: 35px;
}

.loader {
    font-size: 3em;
    margin-top:50px;
    text-align: center;
}

h3, #res_legend, #compare_legend, #map_legend, .center {
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    padding: 5px;
    stroke: white;
    shape-rendering: crispEdges;
}

#map path {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    fill: black;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.map-circle {
    fill: steelblue;
    opacity: 0.7;
}

text {
    fill: white;
}

g.focus text {
    font-size: .8em;
}

a {
    color: white;
}

path.capacity {
    fill: none;
    stroke: green;
    stroke-width: 2;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: white;
}

path.snow {
    fill: none;
    stroke: steelblue;
    stroke-width: 1;
}

path.snow_avg {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

.center {
    text-align: center;
}