body {
    color: white;
    background-color: #333;
}

h2 {
    margin-top: 70px;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    padding: 5px;
    stroke: white;
    shape-rendering: crispEdges;
}

#map path {
    fill: #EBEBEB;
    stroke: white;
    stroke-width: 2;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    fill: black;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

text {
    fill: white;
}