<h1>Western Water - Introduction</h1>
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <p>Data does not include every water source in California. Data for some reservoirs was not available for various reasons.
        Nor is water from the Colorado River included, which provides water to much of southern California, as it's difficult
            to quantify how much water in each reservoir: Havasu, Mead and Powell belongs to California. The Colorado River
            compact guarantees California 4,000,000 acre feet a year.  So
            you can spread it among the Colorado River reservoirs however you see fit. If there
            is a shortfall in available water  in the river California's water rights trump Arizona's.</p>
        <p>Texas water data should be complete. A handful of reservoirs in Texas are shared with other states or countries, with
        the water split as a percentage between the agreement partners.</p>
        <p>Data courtesy of the following locations:</p>
        <ul class="no-style">
            <li><a href="http://cdec.water.ca.gov">California Data Exchange Center</a></li>
            <li><a href="http://waterdatafortexas.org/">Water Data for Texas</a></li>
            <li><a href="http://waterdata.usgs.gov/">United States Geological Survey - National Water Information System</a></li>
            <li><a href="http://www.usbr.gov/">United States Bureau of Reclamation</a></li>
            <li><a href="http://en.wikipedia.org/">Wikipedia</a></li>
            <li><a href="http://tools.wmflabs.org/geohack/">GeoHack</a></li>
            <li><a href="http://www.lat-long.com/">http://www.lat-long.com</a></li>
        </ul>
    </div>
</div>