<div class="loader" ng-show="graphloading">Loading...</div>
<h2 ng-show="graphloaded">The Water of the West - Arizona</h2>
<div class="row" ng-show="graphloaded">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <form id="search_form"  class="form-inline" role="form" ng-submit="resSearch()">
            <input ng-model="search" type="text" class="form-control" list="res_list" placeholder="Search Arizona Reservoirs!" />
            <datalist id="res_list">
                <option value="Lake Havasu">
                <option value="Lake Mead">
                <option value="Lake Mohave">
                <option value="Lake Powell">
            </datalist>
            <button class="btn btn-lg btn-primary" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
        </form>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-7 state-graph" id="map" stations="stations" map="map_data" term="term" data="data" state="az" res="Lake Havasu">
        <h3>Reservoirs</h3>
        <p class="center">Percent Full for Month Ending <span id="map_month"></span></p>
        <p id="map_legend"></p>
    </div>
    <div class="col-sm-12 col-lg-5" id="graph">
        <h3>Selected Reservoir: <span id="reservoir">Lake Havasu</span></h3>
        <p class="center">21st Century Average Volume: <span id="res_avg"></span> acre feet</p>
        <p id="res_legend"></p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Click a point to view the water levels for a particular reservoir. Hover over
            the line graphs to see the levels for a particular month.</p>
    </div>
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <p class="center">One acre foot is the amount of water it takes to cover one acre in one foot of water, or about 325,851 gallons.</p>
    </div>
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <p>Much of the American West is in a prolonged drought. Notice that for many reservoirs, particularly those in California, the seeming inexorable decline in stored water levels
            over the past several years. Then notice as many California reservoirs tick up after the heavy rains in December 2014. A number of
            reservoirs also exhibit wild oscillations in water level, presumably due to scheduled releases.</p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12 snow-charts" state="az" snowdata="snowdata" id="snow_level">
        <h3>Snow Pack Levels</h3>
        <p class="center">21st Century Average Snow Water Eqv: <span id="snow_avg"></span> inches</p>
        <p class="center">The water year runs from October 1st to September 30th. Dates have been corrected to follow the normal
            calendar year.</p>
    </div>
</div>
