<h2>Reservoir: <span id="reservoir">Shasta, CA</span></h2>
<div class="row" ng-show="loaded">
    <div class="col-md-7 map-graph" id="map" stations="stations" map="map_data" data="data"></div>
    <div class="col-md-5" id="graph"></div>
</div>
<div class="row" ng-show="graphloaded">
    <h2>Capacities by State</h2>
    <div class="col-md-6 totals-charts" data="data" state="CA" id="ca_capacities">
        <h3>California</h3>
    </div>
    <div class="col-md-6 totals-charts" data="data" state="TX" id="tx_capacities">
        <h3>Texas</h3>
    </div>
</div>
