<div class="loader" ng-show="graphloading">Loading...</div>
<h2 ng-show="graphloaded">The Water of the West - California</h2>
<div class="row" ng-show="graphloaded">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <form id="search_form"  class="form-inline" role="form" ng-submit="resSearch()">
        <input ng-model="search" type="text" class="form-control" list="res_list" placeholder="Search California Reservoirs!" />
        <datalist id="res_list">
            <option value="Alpine Lake">
            <option value="Antelope Lake">
            <option value="Barrett">
            <option value="Bear River At Camp Far West Dam">
            <option value="Bear Valley Dam">
            <option value="Beardsley Lake">
            <option value="Berryessa">
            <option value="Black Butte">
            <option value="Boca Reservoir">
            <option value="Bon Tempe">
            <option value="Bouquet Canyon">
            <option value="Bowman Lake">
            <option value="Bridgeport Reservoir">
            <option value="Briones Dam">
            <option value="Buchanan Dam">
            <option value="Bucks Lake Storage">
            <option value="Butt Valley">
            <option value="Cachuma Lake">
            <option value="Calaveras">
            <option value="Camanche Reservoir">
            <option value="Caples Lake">
            <option value="Casitas">
            <option value="Castaic">
            <option value="Chabot">
            <option value="Cherry Lake">
            <option value="Clear Lk   Cache Creek">
            <option value="Clear Lk - Klamath R">
            <option value="Cogswell Reservoir">
            <option value="Courtright">
            <option value="Coyote Res Sta Clara">
            <option value="Crane Valley">
            <option value="Cuyamaca Dam">
            <option value="Del Valle">
            <option value="Diamond Valley">
            <option value="Don Pedro Reservoir">
            <option value="Donnells">
            <option value="Dwinnell">
            <option value="East Park Reservoir">
            <option value="El Capitan Dam">
            <option value="Englebright">
            <option value="Florence Lake">
            <option value="Folsom Lake">
            <option value="French Lake">
            <option value="French Meadows">
            <option value="Frenchman Dam">
            <option value="Friant Dam">
            <option value="Gem  Lake">
            <option value="Gerber">
            <option value="Gibraltar Dam">
            <option value="Grant Lake">
            <option value="Haiwee">
            <option value="Hell Hole">
            <option value="Henshaw">
            <option value="Hetch Hetchy">
            <option value="Hidden Dam">
            <option value="Huntington Lake">
            <option value="Ice House">
            <option value="Indian Valley">
            <option value="Iron Canyon">
            <option value="Isabella Dam">
            <option value="Jenkinson Lake">
            <option value="Kent">
            <option value="Keswick Reservoir">
            <option value="Lagunitas Lake">
            <option value="Lake Almanor">
            <option value="Lake Britton">
            <option value="Lake Crowley">
            <option value="Lake Davis">
            <option value="Lake Eleanor">
            <option value="Lake Hemet">
            <option value="Lake Hennessey">
            <option value="Lake Hodges">
            <option value="Lake Jennings">
            <option value="Lake Mathews">
            <option value="Lake Mccloud">
            <option value="Lake Mcclure">
            <option value="Lake Mendocino">
            <option value="Lake Natoma">
            <option value="Lake Pillsbury">
            <option value="Lake Piru">
            <option value="Lake San Antonio">
            <option value="Lake Silverwood">
            <option value="Lake Spaulding S Yuba System">
            <option value="Lake Tahoe">
            <option value="Leroy Anderson">
            <option value="Lewiston">
            <option value="Lexington Reservoir">
            <option value="Little Grass Valley">
            <option value="Loon Lake">
            <option value="Los Banos">
            <option value="Los Vaqueros Reservoir">
            <option value="Loveland Reservoir">
            <option value="Lower Bear">
            <option value="Lower Crystal Springs Reservoir">
            <option value="Lower Otay">
            <option value="Mammoth Pool">
            <option value="Matilija Dam">
            <option value="Miramar">
            <option value="Modesto Reservoir">
            <option value="Morena Dam">
            <option value="Mountain Meadows">
            <option value="Murray Res">
            <option value="Nacimiento">
            <option value="New Bullards Bar">
            <option value="New Hogan Lake">
            <option value="New Melones Reservoir">
            <option value="Nicasio">
            <option value="Oneill Forebay">
            <option value="Oroville Dam">
            <option value="Pardee">
            <option value="Perris">
            <option value="Pine Flat Dam">
            <option value="Prosser Creek Reservoir">
            <option value="Pyramid">
            <option value="Railroad Canyon">
            <option value="Redinger Lake">
            <option value="Relief">
            <option value="Rollins">
            <option value="Saddlebag Lake Reservoir">
            <option value="Salt Springs">
            <option value="San Andreas">
            <option value="San Antonio Reservoir">
            <option value="San Gabriel">
            <option value="San Luis Reservoir">
            <option value="San Luis Reservoir">
            <option value="San Pablo">
            <option value="San Vicente">
            <option value="Santa Margarita Lake">
            <option value="Santiago Creek Res">
            <option value="Scotts Flat">
            <option value="Shasta Dam">
            <option value="Shaver Lake">
            <option value="Skinner">
            <option value="Slab Creek">
            <option value="Sly Creek">
            <option value="Soulajule Dam">
            <option value="South Lake">
            <option value="Spicer Meadows">
            <option value="Stampede">
            <option value="Stony Gorge Reservoir">
            <option value="Strawberry">
            <option value="Success Dam">
            <option value="Sutherland Reservoir">
            <option value="Sweetwater Reservoir">
            <option value="Terminus Dam">
            <option value="Thermalito  Total">
            <option value="Thomas A Edison">
            <option value="Tinemaha Reservoir">
            <option value="Trinity Lake">
            <option value="Tulloch">
            <option value="Turlock Lake">
            <option value="Twitchell">
            <option value="U San Leandro">
            <option value="Union  Valley">
            <option value="Upper Klamath">
            <option value="Vail Lake">
            <option value="Warm Springs">
            <option value="Whale Rock">
            <option value="Whiskeytown Dam">
            <option value="Wishon">
        </datalist>
        <button class="btn btn-lg btn-primary" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
        </form>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-7 state-graph" id="map" stations="stations" map="map_data" term="term" data="data" state="ca" res="Shasta Dam">
        <h3>Reservoirs</h3>
        <p class="center">Percent Full for Month Ending <span id="map_month"></span></p>
        <p id="map_legend"></p>
    </div>
    <div class="col-sm-12 col-lg-5" id="graph">
        <h3>Selected Reservoir: <span id="reservoir">Shasta Dam</span></h3>
        <p class="center">21st Century Average Volume: <span id="res_avg"></span> acre feet</p>
        <p id="res_legend"></p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Click a point to view the water levels for a particular reservoir. Hover over
            the line graphs to see the levels for a particular month.</p>
    </div>
    <div class="col-sm-12 col-lg-12 snow-charts" state="ca" snowdata="snowdata" id="snow_level">
        <h3>Snow Pack Levels</h3>
        <p class="center">21st Century Average Snow Water Eqv: <span id="snow_avg"></span> inches</p>
        <p class="center">The water year runs from October 1st to September 30th. Dates have been corrected to follow the normal
            calendar year.</p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <p class="center">One acre foot is the amount of water it takes to cover one acre in one foot of water, or about 325,851 gallons.</p>
    </div>
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <p>Much of the American West is in a prolonged drought. Notice that for many reservoirs, particularly those in California, the seeming inexorable decline in stored water levels
            over the past several years. Then notice as many California reservoirs tick up after the heavy rains in December 2014. A number of
            reservoirs also exhibit wild oscillations in water level, presumably due to scheduled releases.</p>
    </div>
</div>