<div class="loader" ng-show="graphloading">Loading...</div>
<h2 ng-show="graphloaded">The Water of the West</h2>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Click a point to view the water levels for a particular reservoir. Hover over
            the line graphs to see the levels for a particular month. Use the main map to gain a sense of water in the West.
        If you're interested in a particular state it's probably better to go directly to that state's page, which also includes data on snow levels.
        Water levels are a monthly average of percentage full for the most recently available month, not the percentage full for the most recently available day.</p>
    </div>
    <div class="col-sm-12 col-lg-7 map-graph" id="map" stations="stations" map="map_data" data="data">
        <h3>Reservoirs</h3>
        <p class="center">Percent Full for Month Ending <span id="map_month"></span>, or Most Recently Available Month</p>
        <p id="map_legend"></p>
    </div>
    <div class="col-sm-12 col-lg-5" id="graph">
        <h3>Reservoir: <span id="reservoir">Shasta, CA</span></h3>
        <p class="center">21st Century Average Volume: <span id="all_res_avg"></span> acre feet</p>
        <p id="res_legend"></p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
        <p class="center">One acre foot is the amount of water it takes to cover one acre in one foot of water, or about 325,851 gallons.</p>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
        <p>Much of the American West is in a prolonged drought. Notice that for many reservoirs, particularly those in California, the seeming inexorable decline in stored water levels
            over the past several years. Then notice as many California reservoirs tick up after the heavy rains in December 2014. A number of
        reservoirs also exhibit wild oscillations in water level, presumably due to scheduled releases.</p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <h2 class="offset">Capacities by State <span id="date"></span></h2>
    <p id="compare_legend"></p>
    <div class="col-sm-12 col-md-6 totals-charts" data="data" state="CA" id="ca_capacities">
        <h3>California <span></span></h3>
      <!--  <p class="center">July monthly totals not available</p> -->
        <p class="center">21st Century Average Volume: <span id="ca_capacities_avg"></span> acre feet</p>
    </div>
    <div class="col-sm-12 col-md-6 totals-charts" data="data" state="TX" id="tx_capacities">
        <h3>Texas <span></span></h3>
        <p class="center">Does not include Elephant Butte Reservoir in NM</p>
        <p class="center">21st Century Average Volume: <span id="tx_capacities_avg"></span> acre feet</p>
    </div>
</div>
        <div class="row" ng-show="graphloaded">
            <div class="col-offset-sm-1 col-sm-10 col--offset-sm-1">
                <p>If you have any questions or comments feel free to contact me via Twitter at @farrelldlfarrel, or email
                at farrelldlfarrell at gmail.com</p>
            </div>
        </div>