<div class="loader" ng-show="graphloading">Loading...</div>
<h2 ng-show="graphloaded">The Water of the West - Texas</h2>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Click a point to view the water levels for a particular reservoir. Hover over
            the line graphs to see the levels for a particular month.</p>
    </div>
    <div class="col-sm-12 col-lg-7 state-graph" id="map" stations="stations" map="map_data" data="data" state="tx" res="Meredith">
        <h3>Reservoirs</h3>
    </div>
    <div class="col-sm-12 col-lg-5" id="graph">
        <h3>Selected Reservoir: <span id="reservoir">Meredith</span></h3>
        <p id="res_legend"></p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Click a point to view the water levels for a particular reservoir. Hover over
            the line graphs to see the levels for a particular month.</p>
    </div>
</div>